USE [QUANLYSINHVIEN_DB]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 10-06-2023 7:47:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[ID] [varchar](10) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [varchar](3) NOT NULL,
	[TUOI] [int] NOT NULL,
	[DIEMTOAN] [float] NOT NULL,
	[DIEMVAN] [float] NOT NULL,
	[DIEMANH] [float] NOT NULL,
	[DIEMTB] [float] NOT NULL,
	[HOCLUC] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
